@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  background: seagreen;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Sans-Serif;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
}

#navigation {
  background: white;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  display: flex;
  padding: 20px;
  transition: 1s ease-in-out;
}
#navigation:hover {
  width: 380px;
}
.menu {
  display: flex;
  margin: 0;
  margin-left: 10px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: 1s ease-in-out;
  width: 1px; /*otherwise width acts funny*/
}
#navigation:hover > .menu {
  opacity: 1;
}
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
}
.menu li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.menu li a:hover {
  color: seagreen;
}
